{
	"$schema": "http://json.schemastore.org/swcrc",
	"jsc": {
		"target": "es2017",
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"dynamicImport": false,
			"decorators": true
		},
		"transform": {
			"hidden": {
				"jest": true
			}
		}
	},
	"module": {
		"type": "commonjs",
		"strict": false,
		"strictMode": true,
		"lazy": false,
		"noInterop": false
	}
}
